.onboardingPage {
  background-color: $gray-4;
  .loadingWrapper {
    width: 400px;
    height: 300px;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 0 3px 2px #dadada;
    img {
      width: 234px;
      height: 161px;
    }
    @keyframes blink {
      0% {
        opacity: .2;
      }

      20% {
        opacity: 1;
      }

      100% {
        opacity: .2;
      }
    }

    .title {
      color: $black-9;
      span {
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        position: relative;
        top: -5px;
        &:nth-child(2) {
          animation-delay: .2s;
        }
        &:nth-child(3) {
          animation-delay: .4s;
        }
      }
    }
  }
}