@import '_theme.scss';
// bg-paper

.SeProfile-wrapper-hoverthemes {
  .bg-paper {
    &.intro {
      width: 100%;
      height: 85vh;
      //background-image: url('assets/images/hero.png');
      //background-size: cover;
      //background-position: center;
      //background-repeat: no-repeat;
      background-color: #fafafe;
      overflow: hidden;
    }
    .imgProfile {
      width: 100%;
      max-width: 400px;
      margin-top: 55px;
    }
    .intro-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      .intro-title-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        .intro-title {
          text-transform: capitalize;
          font-size: 40px;
          letter-spacing: 1px;
          margin-bottom: 10px;
          color: #000000;
          font-weight: 700;
          margin-top: 0;
          line-height: 1.1;
        }
        .intro-subtitle {
          font-size: 21px;
          margin-bottom: 10px;
          text-transform: capitalize;
          color: #000000;
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          margin-top: 0;
          letter-spacing: 1.5px;
          line-height: 1.1;
        }
        a.link.animated {
          position: relative;
          &:after {
            content: "\f063";
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            top: 30px;
            right: 6%;
            transition: all 0.5s;
            margin-left: -5px;
            animation: upDown 1s linear infinite both alternate-reverse;
            @include themify($themes) {
              color: themed('textColor');
            }
          }
        }
      }
    }
  }
}

