.am-socialNetworks {
  display: flex;
  li {
    list-style: none;
    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      margin: 0 5px;
      color: $gray;
      line-height: 45px;
      border-radius: 100%;
      background: rgba(155, 160, 163, 0.12);
      transition: all .2s ease-in-out;
      &:hover {
        color: #9ba0a3;
        background: rgba(155, 160, 163, 0.25);
      }
    }
  }
}