.seSkills-trimatrixlab {
  padding: 40px;
  color: $white-color;
  @include themify($themes) {
    background-color: themed('backgroundColor');
  }
  .skill-title {
    h4 {
      color: $white-color;
    }
  }
}