.am-selected {
  position: relative;
  padding: 5px;
  &:hover {
    box-shadow: 0 0 0 1px #88ceff;
  }
  &:hover .icon {
    display: block;
  }
  &.active {
    box-shadow: 0 0 0 1px #88ceff;
    .icon {
      display: block;
    }
  }
  .icon {
    font-size: 32px;
    position: absolute;
    right: 10px;
    top: -16px;
    cursor: pointer;
    background-color: $white-color;
    z-index: 99;
    display: none;
    color: #88ceff;
    &.delete {
      right: 50px !important;
      top: -17px !important;
    }
  }
}