.RH-Modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  ._title {
    padding: 5px 10px;
  }
  ._overlay {
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(35, 38, 43, 0.8);
    padding: 50px 12px;
    ._modalBody {
      background: white;
      box-shadow: 0 5px 10px 0 rgba(53, 56, 61, 0.5);
      border-radius: 4px;
      padding: 1px;
      ._header {
        padding: 0;
        min-height: 32px;
        position: relative;
        ._close {
          position: absolute;
          right: 0;
          top: 5px;
          display: block;
          cursor: pointer;
          height: 32px;
          width: 32px;
          text-align: center;
          transition: all 1s ease-in;
          &:hover {
            svg {
              path {
                fill: $primary;
              }
            }
          }
          svg {
            height: 10px;
            width: 10px;
            path {
              fill: $text-gray-color;
            }
          }
        }
      }
      ._content {
        width: 100%;
      }
    }
    ._fullWidth {
      max-width: 95vw;
    }
  }
}

.activeModal {
  overflow: hidden;
  padding-right: 17px;
  @media (min-width: 0px) and (max-width: 767px) {
    padding-right: 0;
  }
}

