
.seDocument-trimatrixlab {
  .skill-title {
    h4 {
      width: 100%;
      text-align: center;
      color: $black-12 !important;
    }
  }

  .am-selected-trimatrixlab   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    > div {
      display: flex;
      justify-content: center;
    }
    .skill-title {
      h4 {
        width: 100%;
        text-align: center;
        color: $black-12 !important;
      }
    }
  }
}
