body {
  direction: rtl;
  font-family: 'yekan';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.errorText {
  font-size: 13px;
  color: red;
  margin: 0 !important;
  line-height: 22px;
}









