@import '_theme.scss';

.timeline {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  width: 100%;
  &:nth-child(2n-1) {
    float: left;
  }
  &:nth-child(2n) {
    float: right;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #ECEFF1;
    z-index: 1;
    display: block;
  }
  .timeline-wrapper {
    width: 50%;
    clear: both;
    margin: 10px 0;
    &:nth-child(2n) {
      float: right;
      position: relative;
      left: 8px;
      text-align: left;
      &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: -16px;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        border: 2px solid #fff;
        z-index: 1;
        @include themify($themes) {
          background-color: themed('backgroundColor');
        }
      }
    }
    &:nth-child(2n-1) {
      float: left;
      position: relative;
      right: 8px;
      text-align: right;
      &:before {
        content: "";
        position: absolute;
        top: 5px;
        right: -16px;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        border: 2px solid #fff;
        z-index: 1;
        @include themify($themes) {
          background-color: themed('backgroundColor');
        }
      }
    }
    .timeline-content {
      width: 95%;
      padding: 0 15px;
      color: #000;
      h3 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 15px;
        @include themify($themes) {
          color: themed('textColor');
        }
      }
      .timeline-content h5 {
        margin-bottom: 10px;
        text-transform: capitalize;
      }
    }
  }

}